@import "tailwindcss";

@theme {
  --color-background: #081e1a;
  --color-accentBackground: #16483c;
  --color-secondary: #34d399;
  --color-accent: #4ade80;
  --color-secondaryText: #94a3b8;
  --color-grey: #f0fdf4;
}
